@font-face 
    font-display: swap
    font-family: Suisse
    font-style: normal
    font-weight: 400
    src: url(../assets/fonts/SuisseIntl-Regular.woff2) format("woff2")


@font-face 
    font-display: swap
    font-family: Suisse Medium
    font-style: normal
    font-weight: 700
    src: url(../assets/fonts/SuisseIntl-Medium.woff2) format("woff2")


@font-face 
    font-display: block
    font-family: Afisha Display
    font-style: normal
    font-weight: 400
    src: url(../assets/fonts/AfishaDisplay-Medium.woff2) format("woff2")
