.el-link.is-underline::after,
.el-link.is-underline:hover:after,
.el-link.is-underline:hover:after {
  border: none !important;
}

@font-face {
  font-display: swap;
  font-family: Suisse;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/SuisseIntl-Regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Suisse Medium;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/SuisseIntl-Medium.woff2) format("woff2");
}
@font-face {
  font-display: block;
  font-family: Afisha Display;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/AfishaDisplay-Medium.woff2) format("woff2");
}
body {
  margin: 0;
  padding: 0;
  background-color: #54ACFF;
  font-family: Suisse, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  overflow: hidden;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .scroll {
  z-index: 2;
}
body .scroll > .el-scrollbar__bar > .el-scrollbar__thumb {
  background-color: #FFF;
}
body .carousel__slide {
  cursor: grab;
}
body .page {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.15) 1%, transparent 1%) 1px 0, #54ACFF;
  background-size: calc((100vw - 1px) / 14) 1px;
}
@media (max-width: 570px) {
  body .page {
    background: url(./src/assets/img/mob-line-background.svg) no-repeat center/cover;
  }
}
body .header {
  position: relative;
  height: 864px;
  margin-bottom: 90px;
  box-sizing: border-box;
}
@media (max-width: 1420px) {
  body .header {
    height: 700px;
    margin-bottom: 0;
  }
}
@media (max-width: 1100px) {
  body .header {
    height: 550px;
    margin-bottom: 50px;
  }
}
@media (max-width: 850px) {
  body .header {
    height: 500px;
  }
}
@media (max-width: 700px) {
  body .header {
    margin-bottom: 0;
  }
}
@media (max-width: 620px) {
  body .header {
    height: 630px;
    margin-bottom: 0;
  }
}
body .header__overlay {
  width: 100%;
  height: 252px;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, #0084FF 0%, #54ACFF 99%);
  opacity: 0.5;
  z-index: -1;
}
@media (max-width: 850px) {
  body .header__overlay {
    height: 165px;
  }
}
body .header__container {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 700px) {
  body .header__container {
    max-width: 100%;
    margin: 0 8px;
  }
}
body .header__title-container {
  max-width: 783px;
  width: 100%;
  margin: 74px 0 0;
}
@media (max-width: 1420px) {
  body .header__title-container {
    max-width: 95%;
    margin: 45px 0 0;
  }
}
@media (max-width: 850px) {
  body .header__title-container {
    margin: 10px 0 0;
  }
}
body .header__title {
  font-family: Afisha Display;
  position: relative;
  margin-block: 0;
  margin-inline: 0;
  font-size: 132px;
  line-height: 85%;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 1420px) {
  body .header__title {
    max-width: 80%;
    font-size: 95px;
  }
}
@media (max-width: 1100px) {
  body .header__title {
    font-size: 75px;
  }
}
@media (max-width: 850px) {
  body .header__title {
    max-width: 100%;
    font-size: 65px;
    letter-spacing: -3px;
  }
}
body .header__title_accent {
  color: #000;
}
body .header__subtitle {
  font-family: Suisse;
  max-width: 555px;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  margin-top: 65px;
  font-size: 28px;
  line-height: 120%;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 1420px) {
  body .header__subtitle {
    max-width: 50%;
    margin-top: 40px;
    font-size: 22px;
  }
}
@media (max-width: 1100px) {
  body .header__subtitle {
    font-size: 19px;
  }
}
@media (max-width: 850px) {
  body .header__subtitle {
    max-width: 50%;
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  body .header__subtitle {
    max-width: 53%;
  }
}
body .header__image-container {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 745px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 1420px) {
  body .header__image-container {
    height: 700px;
    margin-bottom: 0;
  }
}
@media (max-width: 1100px) {
  body .header__image-container {
    height: 550px;
    margin-bottom: 50px;
  }
}
@media (max-width: 850px) {
  body .header__image-container {
    height: 500px;
  }
}
@media (max-width: 700px) {
  body .header__image-container {
    margin-bottom: 0;
  }
}
@media (max-width: 620px) {
  body .header__image-container {
    height: 630px;
    margin-bottom: 0;
    align-items: center;
  }
}
body .header__image {
  position: relative;
  right: 15%;
  margin-left: auto;
}
@media (max-width: 1420px) {
  body .header__image {
    max-width: 900px;
    width: 100%;
    right: -7%;
  }
}
@media (max-width: 1100px) {
  body .header__image {
    max-width: 600px;
    bottom: -7%;
  }
}
@media (max-width: 850px) {
  body .header__image {
    max-width: 550px;
  }
}
@media (max-width: 700px) {
  body .header__image {
    right: -14%;
  }
}
@media (max-width: 540px) {
  body .header__image {
    right: -11%;
  }
}
@media (max-width: 400px) {
  body .header__image {
    max-width: 550px;
    right: -13%;
    bottom: -7%;
    transform: scale(1.3);
  }
}

.main.el-main {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

.slider {
  max-width: 1318px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 48px;
  overflow-x: hidden;
}
@media (max-width: 1370px) {
  .slider {
    max-width: calc(75% + 40px + 82px + 96px);
  }
}
@media (max-width: 1024px) {
  .slider {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .slider {
    max-width: 96%;
    margin: 0 0 0 auto;
  }
}
.slider__items {
  display: flex;
  gap: 30px;
  transition: all 0.3s ease;
}
.slider__item {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease;
}
@media (max-width: 600px) {
  .slider__item {
    max-width: 197px;
  }
}
.slider__content.el-link > .el-link__inner {
  display: flex;
  flex-direction: column;
}
.slider__content.el-link.is-underline::after, .slider__content.el-link.is-underline:hover::after {
  border: none;
}
.slider__capture {
  position: relative;
}
.slider__img {
  max-width: 360px;
  width: 100%;
  max-height: 240px;
  height: 100%;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .slider__img {
    max-width: 197px;
    border-radius: 10px;
  }
}
.slider__price.el-tag {
  position: absolute;
  right: 12px;
  bottom: 10px;
  padding: 12px 8px;
  border: 0;
  border-radius: 28px;
  background-color: #FFF;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .slider__price.el-tag {
    display: none;
  }
}
.slider__button.el-button, .slider__button {
  max-width: 41px;
  width: 100%;
  max-height: 236px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  z-index: 10;
}
.slider__button.el-button_prev, .slider__button_prev {
  order: 1;
}
.slider__button.el-button_next, .slider__button_next {
  order: 3;
}
.slider__button.el-button_img, .slider__button_img {
  width: 100%;
}
.slider__button.el-button::after, .slider__button::after {
  content: none;
}
.slider__button.el-button:hover, .slider__button:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: transparent !important;
  outline: none;
}
@media (max-width: 900px) {
  .slider__button.el-button, .slider__button {
    display: none;
  }
}
.slider__button-link.el-link {
  display: none;
}
@media (max-width: 900px) {
  .slider__button-link.el-link {
    display: block;
    max-width: 94%;
    width: 100%;
    max-height: 56px;
    height: 100%;
    padding: 16px 0;
    margin: 34px auto 0;
    font-family: Afisha Display;
    font-size: 21px;
    color: #FFF;
    background-color: #000;
    border-radius: 60px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider__button-link.el-link:hover {
    color: #FFF;
    text-decoration: none;
    outline-offset: 0;
    background-color: #A8A8A8;
  }
  .slider__button-link.el-link.is-underline::after, .slider__button-link.el-link.is-underline:hover::after {
    border: none;
  }
}
.slider__title {
  max-width: 360px;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .slider__title {
    max-height: 40px;
    display: -webkit-box;
    font-size: 15px;
    line-height: 18px;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.slider__tag.el-text {
  margin: 5px 0;
  color: #FFF;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.5;
  text-align: left;
  align-self: flex-start;
}
@media (max-width: 1024px) {
  .slider__tag.el-text {
    font-size: 13px;
    line-height: 15px;
  }
}
.slider__date.el-text, .slider__place.el-text {
  margin-right: auto;
  color: #FFF;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .slider__date.el-text, .slider__place.el-text {
    font-size: 13px;
    line-height: 15px;
  }
}

.lead.el-text {
  max-width: 1234px;
  width: 100%;
  font-family: Afisha Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  text-align: center;
}

.lead-white.el-text {
  margin: 185px 0 160px;
}
@media (max-width: 1024px) {
  .lead-white.el-text {
    max-width: 85%;
    font-size: 45px;
  }
}
@media (max-width: 600px) {
  .lead-white.el-text {
    margin: 70px 0 28px;
  }
}

.lead-bottom.el-text {
  margin: 100px 0;
}
@media (max-width: 1024px) {
  .lead-bottom.el-text {
    max-width: 85%;
    font-size: 45px;
  }
}
@media (max-width: 600px) {
  .lead-bottom.el-text {
    margin: 70px 0 28px;
  }
}

@media (max-width: 1024px) {
  .lead.el-text, .lead-white.el-text, .lead-black.el-text {
    max-width: 85%;
    font-size: 45px;
  }
}
@media (max-width: 600px) {
  .lead.el-text, .lead-white.el-text, .lead-black.el-text {
    max-width: 94%;
    font-size: 28px;
  }
}

.gift-box {
  margin-bottom: 175px;
}

.gift {
  position: relative;
  max-width: 1234px;
  width: 100%;
  max-height: 606px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin: 0 auto 175px;
  padding-top: 78px;
}
@media (max-width: 1420px) {
  .gift {
    max-width: 85%;
  }
}
@media (max-width: 1024px) {
  .gift {
    margin: 0 auto 100px;
  }
}
@media (max-width: 600px) {
  .gift {
    max-width: 94%;
    max-height: 404px;
    padding-top: 70px;
  }
}
.gift__card {
  max-height: 606px;
  height: 100%;
  display: flex;
  border-radius: 50px;
  background-color: #FFF;
  padding: 0 0 34px 60px;
}
@media (max-width: 1024px) {
  .gift__card {
    padding: 0 0 25px 40px;
    border-radius: 24px;
  }
}
@media (max-width: 600px) {
  .gift__card {
    max-height: 404px;
    padding: 20px;
  }
}
.gift__image {
  position: absolute;
  top: 20px;
  right: -35px;
}
@media (max-width: 1200px) {
  .gift__image {
    max-width: 55%;
    right: 23px;
  }
}
@media (max-width: 1100px) {
  .gift__image {
    top: 45px;
  }
}
@media (max-width: 600px) {
  .gift__image {
    max-width: 60%;
    right: 20px;
  }
}
@media (max-width: 500px) {
  .gift__image {
    max-width: 75%;
  }
}
@media (max-width: 400px) {
  .gift__image {
    max-width: 85%;
    right: 9px;
    top: 48px;
  }
}
.gift__info.el-text {
  max-width: 712px;
  width: 100%;
  color: #000;
  margin-top: 324px;
  font-family: Afisha Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  text-align: left;
  color: #000;
}
@media (max-width: 1420px) {
  .gift__info.el-text {
    max-width: 80%;
    font-size: 50px;
  }
}
@media (max-width: 1100px) {
  .gift__info.el-text {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .gift__info.el-text {
    font-size: 30px;
    margin-top: 250px;
  }
}
@media (max-width: 600px) {
  .gift__info.el-text {
    font-size: 28px;
    line-height: 98%;
  }
}
@media (max-width: 600px) {
  .gift__info.el-text {
    max-width: 98%;
    margin-top: 280px;
  }
}
.gift__info-span {
  color: #54ACFF;
}

.cards {
  max-width: 1188px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 39px;
       column-gap: 39px;
  row-gap: 80px;
  margin: 0 auto 119px;
  box-sizing: border-box;
}
@media (max-width: 1350px) {
  .cards {
    max-width: 83%;
  }
}
@media (max-width: 940px) {
  .cards {
    display: none;
  }
}

.slider-cards {
  display: none;
}
@media (max-width: 940px) {
  .slider-cards {
    display: block;
    margin-bottom: 100px;
  }
}

.card {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  .card {
    max-width: 280px;
  }
}
@media (max-width: 450px) {
  .card {
    max-width: 200px;
  }
}
.card__caption {
  position: relative;
  max-width: 370px;
  width: 100%;
  margin-bottom: 36px;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  .card__caption {
    max-width: 280px;
    margin-bottom: 25px;
  }
}
@media (max-width: 450px) {
  .card__caption {
    max-width: 200px;
    margin-bottom: 19px;
  }
}
.card__label {
  position: absolute;
  top: 0;
  max-width: 103px;
  width: 100%;
  max-height: 103px;
  height: 100%;
}
@media (max-width: 700px) {
  .card__label {
    max-width: 74px;
    max-height: 74px;
  }
}
@media (max-width: 450px) {
  .card__label {
    max-width: 54px;
    max-height: 54px;
  }
}
.card__img {
  max-width: 315px;
  width: 100%;
  max-height: 315px;
  height: 100%;
  display: flex;
  margin-left: auto;
}
@media (max-width: 700px) {
  .card__img {
    max-width: 250px;
    max-height: 250px;
  }
}
@media (max-width: 450px) {
  .card__img {
    max-width: 164px;
    max-height: 164px;
  }
}
.card__title.el-text, .card__description.el-text {
  max-width: 321px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 700px) {
  .card__title.el-text, .card__description.el-text {
    max-width: 230px;
  }
}
@media (max-width: 450px) {
  .card__title.el-text, .card__description.el-text {
    max-width: 176px;
  }
}
.card__title.el-text {
  color: #000;
  margin-bottom: 30px;
  font-family: Afisha Display;
  font-size: 28px;
  line-height: 110%;
}
@media (max-width: 700px) {
  .card__title.el-text {
    font-size: 20px;
    line-height: 105%;
    margin-bottom: 22px;
  }
}
@media (max-width: 450px) {
  .card__title.el-text {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 15px;
  }
}
.card__description.el-text {
  color: #FFF;
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
}
@media (max-width: 700px) {
  .card__description.el-text {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .card__description.el-text {
    font-size: 14px;
  }
}

.steps {
  max-width: 1028px;
  width: 100%;
  margin: 0 auto 139px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}
@media (max-width: 1350px) {
  .steps {
    max-width: 85%;
  }
}
@media (max-width: 450px) {
  .steps {
    max-width: 92%;
    gap: 20px;
    margin: 0 auto 50px;
  }
}

.step-group {
  flex-direction: column;
  position: relative;
}

.step {
  display: flex;
  gap: 33px;
  padding: 24px 40px 40px 24px;
  background-color: #FFF;
  border-radius: 50px;
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .step {
    display: grid;
    grid: 1fr/80px 1fr;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 34px;
    padding: 30px 25px;
    border-radius: 35px;
  }
}
@media (max-width: 550px) {
  .step {
    grid: 1fr/43px 1fr;
    -moz-column-gap: 16px;
         column-gap: 16px;
    padding: 10px 10px 15px;
    border-radius: 24px;
  }
}
.step.step-lead {
  max-width: 1234px;
  width: 100%;
  margin: 0 auto 99px;
  padding: 56px 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFF url("../assets/img/girl.png") no-repeat right/contain;
}
.step__form-container {
  flex-direction: column;
  padding: 40px;
}
@media (max-width: 1100px) {
  .step__form-container {
    display: flex;
    gap: 30px;
    padding: 30px 25px;
  }
}
@media (max-width: 550px) {
  .step__form-container {
    padding: 10px 10px 15px;
  }
}
.step__number.el-text {
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  color: #FFF;
  text-align: center;
  font-family: Afisha Display;
  font-size: 38px;
  line-height: 117%;
  background-color: #54ACFF;
  border-radius: 50%;
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .step__number.el-text {
    font-size: 28px;
  }
}
@media (max-width: 550px) {
  .step__number.el-text {
    max-width: 43px;
    max-height: 43px;
    font-size: 21px;
  }
}
.step__content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 550px) {
  .step__content {
    max-width: 95%;
    gap: 16px;
  }
}
.step__header.el-text {
  max-width: 560px;
  width: 100%;
  font-family: Afisha Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.step__title.el-text {
  font-family: Afisha Display;
  font-size: 40px;
  line-height: 105%;
  color: #000;
  align-self: flex-start;
}
@media (max-width: 1100px) {
  .step__title.el-text {
    font-size: 31px;
  }
}
@media (max-width: 550px) {
  .step__title.el-text {
    font-size: 21px;
  }
}
.step__desc.el-text {
  display: flex;
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  font-weight: 400;
  color: #000;
  margin-right: auto;
}
@media (max-width: 1100px) {
  .step__desc.el-text {
    display: block;
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .step__desc.el-text {
    font-size: 14px;
  }
}
.step__desc_accent.el-text {
  display: flex;
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  font-weight: 400;
  color: #54ACFF;
}
.step__desc-form.el-text {
  margin-bottom: 36px;
  margin-left: 15px;
}
@media (max-width: 550px) {
  .step__desc-form.el-text {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
.step__desc-form_error.el-text {
  color: #FF2100;
}
.step__link.el-link {
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  font-weight: 400;
  color: #A8A8A8;
}
.step__link.el-link:hover {
  color: #54ACFF;
}
@media (max-width: 550px) {
  .step__link.el-link {
    font-size: 14px;
  }
}
.step__button.el-button {
  max-height: 80px;
  height: 100%;
  padding: 25px 57px;
  font-family: Afisha Display;
  font-size: 32px;
  color: #FFF;
  background-color: #000;
  border: none;
  border-radius: 40px;
  z-index: 3;
}
.step__button.el-button:hover {
  color: #FFF;
  text-decoration: none;
  border: none;
  background-color: #A8A8A8;
  outline-offset: 0;
}
@media (max-width: 550px) {
  .step__button.el-button {
    max-height: 56px;
    padding: 17px 0;
    font-size: 21px;
  }
}
.step__button-link.el-link {
  max-width: 370px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 21px 0;
  font-family: Afisha Display;
  font-size: 32px;
  color: #FFF;
  background-color: #000;
  border-radius: 40px;
  align-self: flex-end;
  box-sizing: border-box;
}
.step__button-link.el-link:hover {
  color: #FFF;
  text-decoration: none;
  opacity: 0.7;
  outline-offset: 0;
}
.step__button-link.el-link.is-underline::after, .step__button-link.el-link.is-underline:hover::after {
  border: none;
}
@media (max-width: 1100px) {
  .step__button-link.el-link {
    max-width: 100%;
    grid-column: 1/3;
  }
}
@media (max-width: 550px) {
  .step__button-link.el-link {
    max-height: 56px;
    padding: 17px 0;
    font-size: 21px;
  }
}
.step__tag.el-tag {
  max-height: 70px;
  height: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54ACFF;
  border: none;
  border-radius: 75px;
  font-family: Suisse;
  font-size: 24px;
  line-height: 117%;
  font-weight: 400;
  color: #FFF;
}
.step__form {
  max-width: 577px;
  width: 100%;
  margin-right: auto;
}
@media (max-width: 1350px) {
  .step__form {
    max-width: 68%;
  }
}
@media (max-width: 1100px) {
  .step__form {
    max-width: 65%;
  }
}
@media (max-width: 800px) {
  .step__form {
    max-width: 100%;
  }
}
.step__form-item.el-form-item {
  margin: 0;
  box-sizing: border-box;
}
.step__form-input.el-input {
  max-height: 84px;
  height: 100%;
  padding-block: 0;
  padding-inline: 0;
  padding: 25px 38px;
  margin-bottom: 18px;
  font-family: Suisse;
  font-size: 25px;
  color: #000;
  border-radius: 43px;
  background-color: #EFEFEF;
  box-sizing: border-box;
}
.step__form-input.el-input:hover, .step__form-input.el-input:focus, .step__form-input.el-input:focus-visible {
  border: none;
  outline: 0;
  outline-offset: 0;
}
.step__form-input.el-input::-moz-placeholder {
  color: #000;
  opacity: 0.3;
}
.step__form-input.el-input::placeholder {
  color: #000;
  opacity: 0.3;
}
@media (max-width: 550px) {
  .step__form-input.el-input {
    max-height: 56px;
    padding: 18px 26px;
    border-radius: 40px;
    font-size: 18px;
  }
}
.step__img {
  position: absolute;
  top: 70px;
  right: 40px;
  z-index: 1;
}
@media (max-width: 1350px) {
  .step__img {
    top: 90px;
    transform: scale(0.85);
  }
}
@media (max-width: 1200px) {
  .step__img {
    right: 15px;
    top: 80px;
    transform: scale(0.75);
  }
}
@media (max-width: 800px) {
  .step__img {
    display: none;
  }
}

.el-form-item.step__form-item.is-error > .el-form-item__content > .step__form-input,
.el-form-item.step__form-item.is-error > .el-form-item__content > .step__form-input > .el-input__wrapper {
  background-color: rgba(255, 0, 0, 0.15);
  box-shadow: none;
  border: none;
}

.el-form-item.step__form-item.is-error > .el-form-item__content > .step__form-input > .el-input__wrapper {
  background-color: transparent;
}

.step__form-input > .el-input__wrapper,
.step__form-input > .el-input__wrapper.is-focus {
  box-shadow: none;
  border: none;
  background-color: #EFEFEF;
  padding: 0;
  box-sizing: border-box;
}
.step__form-input > .el-input__wrapper:hover,
.step__form-input > .el-input__wrapper.is-focus:hover {
  box-shadow: none;
  border: none;
  border-radius: 0;
  outline: 0;
  outline-offset: 0;
  box-sizing: border-box;
}

.slider-programm {
  max-width: 1174px;
  width: 100%;
  margin: 62px auto 37px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.slider-programm__item.carousel__slide {
  max-width: 1028px;
  width: 100%;
  max-height: 458px;
  height: 100%;
  display: flex;
  align-items: stretch;
}
.slider-programm__text-container, .slider-programm__img-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 50px;
}
.slider-programm__text-container {
  width: 40%;
  padding: 40px 35px 40px;
  margin: 0;
  justify-content: space-between;
  background-color: #000;
}
.slider-programm__title.el-text {
  font-family: Afisha Display;
  font-size: 35px;
  color: #FFF;
  text-align: left;
  margin-bottom: 20px;
}
.slider-programm__desc.el-text {
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  color: #FFF;
  text-align: left;
}
.slider-programm__img-container {
  width: 60%;
  padding: 40px;
  gap: 10px;
  background-color: #FFF;
}
.slider-programm__row.el-row {
  justify-content: flex-end;
}
.slider-programm__tag.el-tag {
  max-height: 54px;
  height: 100%;
  padding: 16px 28px;
  font-family: Suisse;
  font-size: 17px;
  line-height: 117%;
  border: none;
  border-radius: 60px;
  color: #FFF;
  background-color: #54ACFF;
  box-sizing: border-box;
}
.slider-programm__img {
  width: 100%;
}
.slider-programm__after-text.el-text {
  max-width: 1174px;
  width: 70%;
  font-family: Suisse;
  font-size: 15px;
  color: #000;
  text-align: left;
  opacity: 0.5;
}

.programm-container {
  max-width: 1239px;
  width: 100%;
  margin: 44px auto;
  display: flex;
  gap: 12px;
}
.programm-container__button-link.el-link {
  max-width: 1239px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 21px 0;
  margin: 0 auto 120px;
  font-family: Afisha Display;
  font-size: 32px;
  color: #FFF;
  background-color: #000;
  border-radius: 60px;
  box-sizing: border-box;
}
.programm-container__button-link.el-link:hover {
  color: #FFF;
  text-decoration: none;
  outline-offset: 0;
  background-color: #A8A8A8;
}
.programm-container__button-link.el-link.is-underline::after, .programm-container__button-link.el-link.is-underline:hover::after {
  border: none;
}
@media (max-width: 900px) {
  .programm-container__button-link.el-link {
    max-width: 94%;
    max-height: 56px;
    height: 100%;
    padding: 16px 0;
    margin: 0 auto;
    font-size: 21px;
  }
}

.programm-card {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.programm-card__contant.el-link > .el-link__inner {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer {
  max-width: 1239px;
  width: 100%;
  height: auto;
  margin: 44px auto 116px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  gap: 49px;
  box-sizing: border-box;
}
@media (max-width: 1350px) {
  .footer {
    max-width: 85%;
  }
}
@media (max-width: 800px) {
  .footer {
    max-width: 95%;
    margin: 40px auto 45px;
    flex-direction: column;
    gap: 20px;
  }
}
.footer__logo {
  max-width: 160px;
  width: 100%;
  max-height: 32px;
  height: 100%;
}
@media (max-width: 800px) {
  .footer__logo {
    max-width: 109px;
    max-height: 22px;
  }
}
.footer__info {
  width: 80%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 800px) {
  .footer__info {
    width: 950%;
    margin-top: 0;
    gap: 16px;
  }
}
.footer__info-text.el-text {
  width: 100%;
  cursor: default;
}
.footer__info-link.el-link {
  margin-bottom: 1px;
  text-decoration: underline;
}
.footer__info-link.el-link:hover {
  color: #FFF;
  opacity: 1;
}
.footer__info-text.el-text, .footer__info-link.el-link {
  font-family: Suisse;
  font-size: 15px;
  color: #000;
  line-height: 100%;
  text-align: left;
  opacity: 0.5;
}
@media (max-width: 800px) {
  .footer__info-text.el-text, .footer__info-link.el-link {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */