.el-link.is-underline::after,
.el-link.is-underline:hover:after,
.el-link.is-underline:hover:after {
  border: none !important;
}

@font-face {
  font-display: swap;
  font-family: Suisse;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/SuisseIntl-Regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Suisse Medium;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/SuisseIntl-Medium.woff2) format("woff2");
}
@font-face {
  font-display: block;
  font-family: Afisha Display;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/AfishaDisplay-Medium.woff2) format("woff2");
}
body {
  margin: 0;
  padding: 0;
  background-color: #54ACFF;
  font-family: Suisse, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  overflow: hidden;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .scroll {
  z-index: 1;
}
body .scroll > .el-scrollbar__bar > .el-scrollbar__thumb {
  background-color: #FFF;
}
body .page {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.15) 1%, transparent 1%) 1px 0, #54ACFF;
  background-size: calc((100vw - 1px) / 14) 1px;
}
body .header {
  position: relative;
  height: 864px;
  box-sizing: border-box;
}
body .header__overlay {
  width: 100%;
  height: 252px;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, #0084FF 0%, #54ACFF 99%);
  opacity: 0.5;
  z-index: 0;
}
body .header__title-container {
  max-width: 783px;
  width: 100%;
  margin: 74px 0 0 101px;
}
body .header__title {
  font-family: Afisha Display;
  position: relative;
  margin-block: 0;
  margin-inline: 0;
  font-size: 132px;
  line-height: 85%;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
}
body .header__title_accent {
  color: #000;
}
body .header__subtitle {
  font-family: Suisse;
  max-width: 555px;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  margin-top: 65px;
  font-size: 28px;
  line-height: 120%;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
}
body .header__image-container {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 745px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}
body .header__image-back-stars {
  position: absolute;
  right: 0;
}
body .header__image-back {
  position: absolute;
  right: 0;
}
body .header__image {
  position: absolute;
}

.main.el-main {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

.slider {
  max-width: 1318px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 48px;
  overflow-x: hidden;
}
.slider__items {
  display: flex;
  gap: 30px;
  transition: all 0.3s ease;
}
.slider__item {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease;
}
.slider__content.el-link > .el-link__inner {
  display: flex;
  flex-direction: column;
}
.slider__content.el-link.is-underline::after, .slider__content.el-link.is-underline:hover::after {
  border: none;
}
.slider__capture {
  position: relative;
}
.slider__img {
  max-width: 360px;
  width: 100%;
  max-height: 240px;
  height: 100%;
  border-radius: 20px;
}
.slider__price.el-tag {
  position: absolute;
  right: 12px;
  bottom: 10px;
  padding: 12px 8px;
  border: 0;
  border-radius: 28px;
  background-color: #FFF;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}
.slider__button.el-button, .slider__button {
  max-width: 41px;
  width: 100%;
  max-height: 236px;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  z-index: 10;
}
.slider__button.el-button_prev, .slider__button_prev {
  order: 1;
}
.slider__button.el-button_next, .slider__button_next {
  order: 3;
}
.slider__button.el-button_img, .slider__button_img {
  width: 100%;
}
.slider__button.el-button::after, .slider__button::after {
  content: none;
}
.slider__button.el-button:hover, .slider__button:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: transparent !important;
  outline: none;
}
.slider__title {
  max-width: 360px;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.slider__tag.el-text {
  margin: 5px 0;
  color: #FFF;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.5;
  text-align: left;
  align-self: flex-start;
}
.slider__date.el-text, .slider__place.el-text {
  margin-right: auto;
  color: #FFF;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
}

.lead.el-text {
  max-width: 1234px;
  width: 100%;
  font-family: Afisha Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  text-align: center;
}

.gift {
  position: relative;
  max-width: 1234px;
  width: 100%;
  max-height: 606px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin: 0 auto;
  padding-top: 78px;
}
.gift__card {
  max-height: 606px;
  height: 100%;
  display: flex;
  border-radius: 50px;
  background-color: #FFF;
  padding: 0 0 34px 60px;
}
.gift__image {
  position: absolute;
  top: 20px;
  right: -35px;
}
.gift__info.el-text {
  max-width: 712px;
  width: 100%;
  color: #000;
  margin-top: 324px;
  font-family: Afisha Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  text-align: left;
  color: #000;
}
.gift__info-span {
  color: #54ACFF;
}

.cards {
  max-width: 1188px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 39px;
       column-gap: 39px;
  row-gap: 80px;
  margin: 0 auto 119px;
  box-sizing: border-box;
}

.card {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.card__caption {
  position: relative;
  max-width: 370px;
  width: 100%;
  margin-bottom: 36px;
  box-sizing: border-box;
}
.card__label {
  position: absolute;
  top: 0;
  max-width: 103px;
  width: 100%;
  max-height: 103px;
  height: 100%;
}
.card__img {
  max-width: 315px;
  width: 100%;
  max-height: 315px;
  height: 100%;
  display: flex;
  margin-left: auto;
}
.card__title.el-text, .card__description.el-text {
  max-width: 321px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
}
.card__title.el-text {
  color: #000;
  margin-bottom: 30px;
  font-family: Afisha Display;
  font-size: 28px;
  line-height: 110%;
}
.card__description.el-text {
  color: #FFF;
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
}

.steps {
  max-width: 1028px;
  width: 100%;
  margin: 0 auto 139px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}

.step-group {
  flex-direction: column;
  position: relative;
}

.step {
  display: flex;
  gap: 33px;
  padding: 24px 40px 40px 24px;
  background-color: #FFF;
  border-radius: 50px;
  box-sizing: border-box;
}
.step.step-lead {
  max-width: 1234px;
  width: 100%;
  margin: 0 auto 99px;
  padding: 56px 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFF url("../assets/img/girl.png") no-repeat right/contain;
}
.step__form-container {
  flex-direction: column;
  padding: 40px;
}
.step__number.el-text {
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  color: #FFF;
  text-align: center;
  font-family: Afisha Display;
  font-size: 38px;
  line-height: 117%;
  background-color: #54ACFF;
  border-radius: 50%;
  box-sizing: border-box;
}
.step__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.step__header.el-text {
  max-width: 560px;
  width: 100%;
  font-family: Afisha Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  color: #000;
}
.step__title.el-text {
  font-family: Afisha Display;
  font-size: 40px;
  color: #000;
}
.step__desc.el-text {
  display: flex;
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  font-weight: 400;
  color: #000;
  margin-right: auto;
}
.step__desc_accent.el-text {
  display: flex;
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  font-weight: 400;
  color: #54ACFF;
}
.step__desc-form.el-text {
  margin-bottom: 36px;
  margin-left: 15px;
}
.step__desc-form_error.el-text {
  color: #FF2100;
}
.step__link.el-link {
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  font-weight: 400;
  color: #A8A8A8;
}
.step__link.el-link:hover {
  color: #54ACFF;
}
.step__button.el-button {
  max-height: 80px;
  height: 100%;
  padding: 25px 57px;
  font-family: Afisha Display;
  font-size: 32px;
  color: #FFF;
  background-color: #000;
  border: none;
  border-radius: 40px;
  z-index: 3;
}
.step__button.el-button:hover {
  color: #FFF;
  text-decoration: none;
  border: none;
  background-color: #A8A8A8;
  outline-offset: 0;
}
.step__button-link.el-link {
  max-width: 370px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 21px 0;
  font-family: Afisha Display;
  font-size: 32px;
  color: #FFF;
  background-color: #000;
  border-radius: 40px;
  align-self: flex-end;
  box-sizing: border-box;
}
.step__button-link.el-link:hover {
  color: #FFF;
  text-decoration: none;
  opacity: 0.7;
  outline-offset: 0;
}
.step__button-link.el-link.is-underline::after, .step__button-link.el-link.is-underline:hover::after {
  border: none;
}
.step__tag.el-tag {
  max-height: 70px;
  height: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54ACFF;
  border: none;
  border-radius: 75px;
  font-family: Suisse;
  font-size: 24px;
  line-height: 117%;
  font-weight: 400;
  color: #FFF;
}
.step__form {
  max-width: 577px;
  width: 100%;
  margin-right: auto;
}
.step__form-item.el-form-item {
  margin: 0;
  box-sizing: border-box;
}
.step__form-input.el-input {
  max-height: 84px;
  height: 100%;
  padding-block: 0;
  padding-inline: 0;
  padding: 25px 38px;
  margin-bottom: 18px;
  font-family: Suisse;
  font-size: 25px;
  color: #000;
  border-radius: 43px;
  background-color: #EFEFEF;
  box-sizing: border-box;
}
.step__form-input.el-input:focus-visible {
  border: none;
  outline: 0;
  outline-offset: 0;
}
.step__form-input.el-input::-moz-placeholder {
  color: #000;
  opacity: 0.3;
}
.step__form-input.el-input::placeholder {
  color: #000;
  opacity: 0.3;
}
.step__img {
  position: absolute;
  top: 90px;
  right: 40px;
  z-index: 1;
}

.el-form-item.step__form-item.is-error > .el-form-item__content > .step__form-input,
.el-form-item.step__form-item.is-error > .el-form-item__content > .step__form-input > .el-input__wrapper {
  background-color: rgba(255, 0, 0, 0.15);
  box-shadow: none;
  border: none;
}

.el-form-item.step__form-item.is-error > .el-form-item__content > .step__form-input > .el-input__wrapper {
  background-color: transparent;
}

.step__form-input > .el-input__wrapper,
.step__form-input > .el-input__wrapper.is-focus {
  box-shadow: none;
  border: none;
  background-color: #EFEFEF;
  padding: 0;
  box-sizing: border-box;
}
.step__form-input > .el-input__wrapper:hover,
.step__form-input > .el-input__wrapper.is-focus:hover {
  box-shadow: none;
  border: none;
  border-radius: 0;
  outline: 0;
  outline-offset: 0;
  box-sizing: border-box;
}

.slider-programm {
  max-width: 1174px;
  width: 100%;
  margin: 62px auto 37px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.slider-programm__item.carousel__slide {
  max-width: 1028px;
  width: 100%;
  max-height: 458px;
  height: 100%;
  display: flex;
  align-items: stretch;
}
.slider-programm__text-container, .slider-programm__img-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 50px;
}
.slider-programm__text-container {
  width: 40%;
  padding: 40px 35px 40px;
  margin: 0;
  justify-content: space-between;
  background-color: #000;
}
.slider-programm__title.el-text {
  font-family: Afisha Display;
  font-size: 35px;
  color: #FFF;
  text-align: left;
  margin-bottom: 20px;
}
.slider-programm__desc.el-text {
  font-family: Suisse;
  font-size: 20px;
  line-height: 117%;
  color: #FFF;
  text-align: left;
}
.slider-programm__img-container {
  width: 60%;
  padding: 40px;
  gap: 10px;
  background-color: #FFF;
}
.slider-programm__row.el-row {
  justify-content: flex-end;
}
.slider-programm__tag.el-tag {
  max-height: 54px;
  height: 100%;
  padding: 16px 28px;
  font-family: Suisse;
  font-size: 17px;
  line-height: 117%;
  border: none;
  border-radius: 60px;
  color: #FFF;
  background-color: #54ACFF;
  box-sizing: border-box;
}
.slider-programm__img {
  width: 100%;
}
.slider-programm__after-text.el-text {
  max-width: 1174px;
  width: 70%;
  margin-bottom: 97px;
  font-family: Suisse;
  font-size: 15px;
  color: #000;
  text-align: left;
  opacity: 0.5;
}

.programm-container {
  max-width: 1239px;
  width: 100%;
  margin: 44px auto;
  display: flex;
  gap: 12px;
}
.programm-container__button-link.el-link {
  max-width: 1239px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 21px 0;
  margin: 0 auto 120px;
  font-family: Afisha Display;
  font-size: 32px;
  color: #FFF;
  background-color: #000;
  border-radius: 60px;
  box-sizing: border-box;
}
.programm-container__button-link.el-link:hover {
  color: #FFF;
  text-decoration: none;
  outline-offset: 0;
  background-color: #A8A8A8;
}
.programm-container__button-link.el-link.is-underline::after, .programm-container__button-link.el-link.is-underline:hover::after {
  border: none;
}

.programm-card {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.programm-card__contant.el-link > .el-link__inner {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */