@use 'base'
  
body 
  margin: 0
  padding: 0
  // color: base.$white
  background-color: base.$blue
  // font-family: base.$font-stack
  font-weight: normal
  font-style: normal
  letter-spacing: 0
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  .page
    width: 100%
    height: 100vh
    margin: 0 auto    
    background: linear-gradient(90deg, base.$light-red 1%, transparent 1%) 1px 0, base.$blue
    background-size: calc((100vw - 1px) / 14) 1px
    // opacity: 0.1
  
  .header
    background: base.$linear-dark
    // background: url(./assets/img/header-stars.svg) no-repeat center / cover
    box-sizing: border-box

    &__title-container
      max-width: 783px
      width: 100%
      margin: 74px 0 0 101px

    &__title
      // font-family: Afisha Display
      margin-block: 0
      margin-inline: 0
      font-size: 132px
      line-height: 85%
      color: base.$white
      

      &_accent
        color: base.$black
    
    &__subtitle
      // font-family: Suisse Int'l
      max-width: 555px
      width: 100%     
      margin-block: 0
      margin-inline: 0
      margin-top: 65px
      font-size: 28px
      line-height: 120%
      color: base.$white
    
    &__image-container
      position: absolute
      top: 0
      right: 0
      max-width: 745px
      width: 100%
      display: flex
      flex-wrap: wrap
      flex-direction: row
      justify-content: center
      z-index: 1

    &__image-back-stars
      position: absolute
      right: 0
      // https://codepen.io/alvaromontoro/pen/GRNmdzB
        // https://codepen.io/Anna_Batura/pen/BaLRdbd
          // https://codepen.io/aybukeceylan/pen/MWYEoXZ
            // https://codepen.io/alphardex/pen/dyPorwJ
              // https://codepen.io/epilande/pen/DOrRdo

    &__image-back
      position: absolute
      right: 0

    &__image
      position: absolute

